<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "battleground database project", players_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Players", players_path %></li>
        <li><%= link_to "Add",  addplayer_path  %></li>
      </ul>
    </nav>
  </div>
</header>
